# ignore pack
*.tgz

# ignore development
node_modules
*.log

# ignore vim dotfiles
*.swp
*.swo

# ignore idea directory
.idea/

# TypeScript build files
build
*.tsbuildinfo

# allow fixtures
!test/fixtures/**/*.js
test/fixtures/**/*-typescript.js

# allow JS config files
!*.config.js

# allow JS script files
!script/_utils/runCommand.js

# ignore tmp directory
tmp

# ignore custom build files
packages/matchers/src/matchers.ts.expected
