# ignore build directory
dist

# ignore development
node_modules
*.log

# ignore vim dotfiles
*.swp
*.swo

# ignore idea directory
.idea/

# TypeScript build files
*.js
*.d.ts
*.js.map

# allow fixtures
!test/fixtures/**/*.js
test/fixtures/**/*-typescript.js

# allow JS config files
!*.config.js

# ignore tmp directory
tmp
