language: node_js
cache:
  yarn: true
  directories:
    - node_modules
notifications:
  email: true
node_js:
  - '11'
  - '10'
  - '8'
  - '6'
before_install:
  - npm install --global greenkeeper-lockfile@1
before_script:
  - greenkeeper-lockfile-update
script:
  - ./script/lint-commits
  - ./script/prettier-check
  - yarn test
after_script:
  - greenkeeper-lockfile-upload
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
jobs:
  include:
    - stage: release
      node_js: lts/*
      deploy:
        provider: script
        skip_cleanup: true
        script: './script/release'
        on:
          branch: master
